################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DroneController/.vs/DroneController/v15/Server/sqlite3
/.vs
/DroneController/.vs/DroneController/v15
/DroneController/bin
/DroneController/obj
