################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DroneController/.vs/DroneController/v15/Server/sqlite3
